.video-controls {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: #fff;
  padding: 10px;
}

.video-controls button {
  position: relative;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 5px 10px;
  margin: 0 10px;
  border-radius: 5px;
  cursor: pointer;
}
.video-commands {
  margin-top: 0.5rem;
  display: flex;
}
.video-progress {
  width: 100%;
}

.progress-bar-marker {
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: black;
  top: 0;
}
.video-controls input[type="range"] {
  appearance: none;
  margin-top: 1rem;
  width: calc(100% - 32px);
  height: 10px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.video-controls input[type="range"]:hover {
  opacity: 1;
}

.video-controls input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}

.video-controls input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
